<form id="loginformA" action="ajouterMovieForm" method="post">
<div>
    <label for="movie">Nouveau film: </label>
    <input type="text" id="moviename" name="moviename"/>
</div>
<input type="submit" value="Submit"/>
</form>