<form id="loginformA" action="ajouterUser" method="post">
<div>
    <label for="email">Username: </label>
    <input type="text" id="username" name="username"/>
</div>
<input type="submit" value="Submit"/>
</form>