<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/css/mobile-css/style.css">
	</head>
	<body>
		<div class="header">
			<img src="/mobile-img/icon-menu.png" class="icon-menu"/>
			<div class="font-logo">Yes we scan</div>
			<img src="/mobile-img/icon-back.png" class="icon-back"/>
		</div>
		<div class="content confirmation enregistrement-vote">
			<button><a href="/liste-user">Afficher liste users</a><button/>
		</div>
	</body>
</html>