<form action="" method="delete">
<div>
    <label for="username">ID: </label>
    <input type="text" id="idUser" name="idUser"/>
    <input type="text" id="idUser" name="supprimerUser"/>
</div>
<input type="submit" value="Submit"/>
</form>